body{
    background-color:#1F1F1F;
    color: #f0f8ff; 
    font-family: monospace;
}
div{
    display: inline-flex;
    margin:0;
}
table {
    display: block;
    max-width: 600px;
    text-align: center;
    
}
tr{
    vertical-align: top;
    width: 50%;
}
td{
    
}
h1{
    color: #f0f8ff;    
}
a{
    color: #ffdead;
}
img{
    border: 10;
    border-style: solid;
    border-color: #f0f8ff;
    margin-right: 20px; 
}
p{
    text-align: left;
}