body{
    background-color:#2F2F2F;
    color: #f0f8ff; 
    font-family: monospace;
    font-size-adjust: none;
}
table {
    display: block;  
}
h1{
    color: #f0f8ff;
    font-size: 48pt;
    text-align: bottom;
    vertical-align: bottom;
}
a{
    color: #ffdead;
}
.mainDiv{
    display: flex;
    margin:0;
    width: auto;
}
.profileImg{
    border: 10;
    border-radius: 10px;
    border-color:#f0f8ff; 
    border-style: solid;
    margin-right: 20px;
    width: 300px;
}

.mainText{
    display:block;
    width: 100%;
    font-size: 18pt;
    text-align: left;
}
.centerText{
    width: 100%;
    font-size: 18pt;
    text-align: center;
}
.subheader{
    display: block;
    font-size: 24pt;
    font-weight: bold;
    text-align:center;
    width: 100%;
}
.navDiv{
    display: inline-flex;
    width: 100%;
}
.navTable{    
    margin-bottom: 30px;
    margin-top: 20px;
}
.navText{
    /*background-color: #f0f8ff;*/
    border: 10;
    border-radius: 10px;
    /*border-color:#f0f8ff;*/ 
    border-color:#ffdead; 
    border-style: solid;
    font-size: 18pt;
    margin: 10;
    padding: 10;
    text-align: center;
    vertical-align: top;
    width: 140px;
}
.noUnderlineLink{    
    color: #ffdead;
    text-decoration: none;
}