body{
    background-color:#3F3F3F;
    color: #f0f8ff; 
    font-family: monospace;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar{
  display: none;
}
table {
    column-count: 1;
    display: block; 
}
h1{
    color: #f0f8ff;
    font-size: 48pt;
    margin: 20;
    text-align: center;
    vertical-align: bottom;
}
h2{
    color: #8fddff;
    font-size: 24pt;
    margin: 30;
    text-align: center;
    vertical-align: bottom;
}
a{
    color: #8fddff;
}


@media only screen and (orientation: portrait){
    .mainDiv{
        margin:0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logDiv{
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
    }
    .boxBorder{
        border: 0;
        margin: 10px;
    }
    .phonePicture{
        border: 2pt;
        border-color:#f0f8ff; 
        border-radius: 10px;
        border-style: solid;
        display: block;
        width: 400px;
    }
    .phoneLogPicture{
        border: 2pt;
        border-color:#f0f8ff; 
        border-radius: 10px;
        border-style: solid;
        display: block;
        width: 400px;
        height: 400px;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .logImg{
        display: none;
    }
    .profileImgContainer{
        display: none;
        width: 100%;
    }
    .profileImg{
        border: 2pt;
        border-color:#f0f8ff; 
        border-radius: 10px;
        border-style: solid;
        display: none;
        margin: 20px;
        width: 100%;

    }

    .mainText{
        display:inline-block;
        font-size: 32pt;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }
    .centerText{
        font-size: 18pt;
        text-align: center;
        width: 100%;
    }
    .subheader{
        display: block;
        font-size: 48pt;
        font-weight: bold;
        margin-top: 50px;
        text-align:center;
        width: 100%;
    }
    .navDiv{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navTable{    
        margin-bottom: 30px;
        margin-top: 20px;
        width: 100%;
    }
    .navText{
        /*background-color: #f0f8ff;*/
        border: 2pt;
        /*border-color:#f0f8ff;*/ 
        border-color:#8fddff; 
        border-radius: 10px;
        border-style: solid;
        font-size: 32pt;
        height: 60px;
        margin: 10;
        padding: 10;
        text-align: center;
        vertical-align:middle;
        width: 250px;
    }
    .noUnderlineLink{    
        color: #8fddff;
        text-decoration: none;
    }

}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


@media only screen and (orientation: landscape){
    
    .mainDiv{
        margin:0;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logDiv{
        display: flex;
        width: 80%;    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .boxBorder{
        border: 2pt;
        border-color:#8fddff; 
        border-radius: 10px;
        border-style: solid;
    }
    .phonePicture{
        display: none;
    }
    .phoneLogPicture{
        display:none;
    }
    .profileImgContainer{
        display: inline-flex;
    }
    .profileImg{
        border: 2pt;
        border-color:#f0f8ff; 
        border-radius: 10px;
        border-style: solid;
        display: inline-flex;
        margin-right: 20px;
        width: 300px;
    }
    .logImg{
        border: 2pt;
        border-color:#f0f8ff; 
        border-radius: 10px;
        border-style: solid;
        display: inline-flex;
        margin-right: 20px;
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .mainText{
        font-size: 18pt;
        text-align: left;
        width: 100%;
    }
    .centerText{
        font-size: 18pt;
        text-align: center;
        width: 100%;
    }
    .subheader{
        display: block;
        font-size: 24pt;
        font-weight: bold;
        text-align:center;
        width: 100%;
    }
    .navDiv{ 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navTable{    
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .navText{
        /*background-color: #f0f8ff;*/
        border: 2pt;
        /*border-color:#f0f8ff;*/ 
        border-color:#8fddff; 
        border-radius: 10px;
        border-style: solid;
        font-size: 18pt;
        height: 30px;
        margin: 10;
        padding: 10;
        text-align: center;
        vertical-align: middle;
        width: 140px;
    }
    .noUnderlineLink{    
        color: #8fddff;
        text-decoration: none;
    }
}    